<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link href='http://fonts.googleapis.com/css?family=Happy+Monkey' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
		<style>
			body{
				background-image: url(https://dl.dropboxusercontent.com/u/64058349/devcongress-thank-you.png);
				background-repeat: no-repeat;
				width: 600px;
				height: 400px;
			}

			.content{
				padding: 0 20px 0 20px;
			}

			.thankyou {
				font-family: 'Happy Monkey', cursive;
				font-size: 30px;
				margin-top: 0px;
			}

			.open-sans {
				font-family:'Open Sans';
				font-weight: 300;
				font-size: 14px;
				margin-top: -15px;
			}
		</style>
	</head>
	<body>
	<!-- email goes here -->
	<div class="content">
		<p class="thankyou">Thank you</p>
		<div class="open-sans">
			<p>We are indeed grateful for your efforts in making DevCongress 2013 a tremendous success.</p>
			<p>Your contribution in the form of attendance, speaking, cash support, and sponsorship couldn't have come at a better time.</p>
			<p>We look forward to receiving greater support from you as we forge ahead in our dream of developing Ghana's software developers.</p>
			<p>It has been great working with you. You are our hero, and we celebrate you today. Thank you.</p>
			<p>~ The <a href="http://devcongress.com">DevCongress</a> team.</p>
		</div>
	</div>
	</body>
</html>