<h3 class="lato">Yep, they're coming for the exhibition.</h3>

<ol>
    <% @startups.each do |startup| %>
    	<li>
	    	<div class="startup">
	    		<p class="startup-name"><%= startup.name %></p>
	    		<p class="startup-ceo"><%= startup.ceo %></p>
	    		<p class="startup-address"><%= startup.location %></p>
	    	</div>
    	</li>
    	<hr>
    <% end %>    	
</ol>

<h5 class="lato">Don't see your startup's name? <%= link_to 'Register now', new_startup_path %> if you're in a startup.</h5>
