<%= link_to "Edit #{@startup.name}'s profile", edit_startup_path(@startup) %>
<h1><%= @startup.name %> (<span>founded in <%= @startup.founding_year || 'Not Known' %></span>)</h1>
<div class="startup-address">Address: <%= @startup.location %></div>