<% provide :title, 'Startups Exhibiting @ DevCongress 2013' %>
<div class="container">
	<% unless @startups.empty? %>
		<%= render 'startups/exhibiting_startups' %>
	<% else %>
		<%= render 'startups/no_startups_registered' %>
	<% end %>
</div>