<% provide :title, 'Playground!' %>
<div class="container">
	<h2 class="lato">What we will be doing</h2>

	<ul class="agenda">
		<li>
			<span>Welcome Address and Keynote</span>
		</li>
		<li>
			<span>1st Tech talk</span>
		</li>
		<li>
			<span>Expert Talk on Software Opportunities in Agriculture in Ghana</span>
		</li>
		<li>
			<span>2nd Tech talk</span>
		</li>
		<li>
			<span>Expert Talk on Software Opportunities on Health in Ghana</span>
		</li>
		<li>
			<span>3rd Tech talk</span>
		</li>
		<li>
			<span>Lunch Break</span>
		</li>
		<li>
			<span>Panel Discussion on Electronic Payment processing in Ghana</span>
			<ul>
				<li>
					<span>Clear understanding of the current situation,</span>
				</li>
				<li>
					<span>Discover potential uses in the tech space,</span>
				</li>
				<li>
					<span>Forecast of the system in the next 5 years.</span>
				</li>
			</ul>
		 </li>		
		<li>
			<span>Exhibition for Startups</span>
		</li>
		<li>
			<span>4th Tech talk</span>
		</li>
		<li>
			<span>Bio break/networking</span>
		</li>
		<li>
			<span>Workshop</span>
			<ul>
				<li>
					<span>JavaScript</span>
				</li>
				<li>
					<span>Agile Development.</span>
				</li>
				<li>
					<span>Intro to Android</span>
				</li>
			</ul>
			</li>
		<li>
			<span>5th Tech talk</span>
		</li>
		<li>
			<span>The way forward</span>
		</li>
		<li class="form-last">
			<span>Closing remarks</span>
		</li>
	</ul>


</div>

