

<% provide :title, 'Playground!' %>

<div class="container">
	<h2>What we will be doing</h2>
	<p>
		<ul>
			<li>Introduction</li>
			<li>Opening Keynote</li>
			<li>First half of speed talks by techies</li>
			<li>First expert talk on opportunities in Agriculture for developers</li>
			<li>Panel discussion of moving mobile money forward in Ghana and Africa</li>
			<li>Final part of speed talks by techies</li>
			<li>Final expert talk on opportunities in financing in Ghana</li>
			<li>TechShow&reg;</li>
		</ul>
	</p>
</div>

