<div class="content">

	<div class="date lato">
		<p>24.august(2013)</p>
	</div>

	<div class="locale lato">
		<p>Meltwater Entrepreneurial School of Technology <span> &bull; </span> 10 am</p>
	</div>

	<section class="form-last">
	    <div class="hi-icon-wrap">
        	<%= link_to register_path, class: 'button button-flat pink' do %>
        		<i class="hi-icon icon-edit icon-4"></i>
        		<br>
        		<span class="fauna f17">Attend</span>
        	<% end %>
	        <a class="space"></a>
        	<%= link_to agenda_path, class: 'button button-flat blue' do %>
        		<i class="hi-icon icon-list-ol icon-4"></i>
        		<br>
        		<span class="fauna f17">Agenda</span>
        	<% end %>
	    </div>
	</section>

</div>