<div class="container content">
	<div class="carousel">
		
	</div>
	<div class="sect" id="about">
		<div class="title col-md-offset-1">ABOUT about About</div>
		<div class="summary">DevCongress is a budding developers movement aimed at becoming the most vibrant across the software developers space in Ghana and Africa. The objectives are very simple.</div>
		<div class="goal-list">
			<div class="row">
				<div class="col-md-3">
					<div class="number">01</div>
					<div class="goal">
						To build confidence among software developers.
					</div>
				</div>
				<div class="col-md-3">
					<div class="number">02</div>
					<div class="goal">
						Expose developers to a rich array of resources.
					</div>
				</div>
				<div class="col-md-3">
					<div class="number">03</div>
					<div class="goal">
						Contribute to open source projects that have great social and economic impact.
					</div>
				</div>
				<div class="col-md-3">
					<div class="number">04</div>
					<div class="goal">
						Harness the combined talent and resources of the local tech community to create solutions to national problems.
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="sect" id="projects">
		<div class="title col-md-offset-1">PROJECTS &amp; EVENTS</div>
		<div class="row">
			<div class="col-md-4 event">
				<div class="event-logo">EventLogo</div>
				<div class="event-title blue">Developers' Conference</div>
				<div class="event-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, voluptates!
					<div class="small">
						<a href="#" class="read-more">Read more...</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 event">
				<div class="event-logo">EventLogo</div>
				<div class="event-title blue">Hackathon</div>
				<div class="event-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, repudiandae.
					<div class="small">
						<a href="#" class="read-more">Read more...</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 event">
				<div class="event-logo">EventLogo</div>
				<div class="event-title blue">CodeCamp</div>
				<div class="event-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, non.
					<div class="small">
						<a href="#" class="read-more">Read more...</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="sect" id="partners" >
		<div class="title col-md-offset-1">PARTNERS &amp; SPONSORS</div>
		<h4>We have received immense support from the following organiseations on our previous events. We are grateful</h4>
		<div class="row partner-list">
			<div class="col-md-3">
				<%= link_to image_tag('mest.png'), 'http://meltwater.org', :class => 'sponsor-image' %>
			</div>
			<div class="col-md-3">
				<%= link_to image_tag('smsgh.png'), 'http://smsgh.com', :class => 'sponsor-image' %>
			</div>
			<div class="col-md-2">
				<%= link_to image_tag('blogh.png'), 'http://bloggingghana.org', :class => 'sponsor-image' %>
			</div>
			<div class="col-md-3">
				<%= link_to image_tag('techyafrica.png'), 'http://techy-africa.com', :class => 'sponsor-image' %>
			</div>
		</div>
	</div>
	<div class="sect" id="contact">
		<div class="col-md-6">
			<div class="title col-md-offset-2">CONTACT</div>
			<dl class="dl-horizontal">
				<dt>twitter</dt>
				<dd>@DevCongress</dd>
				<dt>G+</dt>
				<dd>gplus.to/devcongress</dd>
				<dt>facebook</dt>
				<dd>/DevCongress</dd>
				<dt>YouTube</dt>
				<dd>/DevCongress</dd>
				<dt>GMail</dt>
				<dd>devcongress@gmail.com</dd>
			</dl>
		</div>
		<d2v class="col-md-6">
			<div class="title col-md-offset-2">TEAM</div>
			<div class="founders">
				<dl class="dl-horizontal">
					<dt>icon</dt>
					<dd>
						<span>Yaw Boakye (@22bytes)</span>
						<p>Bachelors in Agric Eng. Programmer, Abstractionist</p>
					</dd>
					<dt>icon</dt>
					<dd>
						<span>Elorm Adjaho (@elormadjaho)</span>
						<p>Bachelors in Performing Arts, Event Orgnaniser, Writer, Visionary</p>
					</dd>
					<dt>icon</dt>
					<dd>
						<span>Claude Ayitey (@MrAyitey)</span>
						<p>Bachelors in Computer Science, Blogger, UI/UX, Social Media</p>
					</dd>
				</dl>
			</div>
		</div>
	</div>
</div>