<div class="content">
	<div class="navbar"></div>
	<div class="carousel"></div>
	<div class="about">
		<div class="title">ABOUT</div>
		<div class="summary"></div>
		<div class="obj"></div>
	</div>
	<div class="projects">
		<div class="title">PROJECTS &amp; EVENTS</div>
		<div class="col-xs-4 event">DevCongress</div>
		<div class="col-xs-4 event">Hackathon</div>
		<div class="col-xs-4 eventfoo">CodeCamp</div>
	</div>
	<div class="partners">
		<div class="title">PARTNERS &amp; SPONSORS</div>
	</div>
	<div class="contact">
		<div class="col-xs-6">
			<div class="title">CONTACT</div>
		</div>
		<div class="col-xs-6">
			<div class="title">TEAM</div>
		</div>
	</div>
	<div class="footer">
		<div class="col-xs-4">
			<div class="sub">DevCongress</div>
		</div>
		<div class="col-xs-4">
			<div class="sub">SOCIAL</div>
		</div>
		<div class="col-xs-4">
			<div class="dub">SITE MAP</div>
		</div>
	</div>
</div>