<div class="container content">
	<div class="carousel"></div>
	<div class="sect" id="about">
		<div class="title">ABOUT</div>
		<div class="summary">DevCongress is a budding developers movement aimed at becoming the most vibrant across the software developers space in Ghana and Africa. The objectives are very simple.</div>
		<div class="goal-list">
			<div class="row">
				<div class="col-xs-3">
					<div class="number">01</div>
					<div class="goal">
						To build confidence among software developers in Ghana and Africa for that matter by giving them the opportunity to share what they know and to challenge them to do more. In short, build a reputation among the developer community.
					</div>
				</div>
				<div class="col-xs-3">
					<div class="number">02</div>
					<div class="goal">
						Expose developers to a rich array of resources by which they can develop themselves to international standards and make global impact.
					</div>
				</div>
				<div class="col-xs-3">
					<div class="number">03</div>
					<div class="goal">
						Contribute to open source projects that have great social and economic impact on their country and the software development scene. Leave a legacy.
					</div>
				</div>
				<div class="col-xs-3">
					<div class="number">04</div>
					<div class="goal">
						Harness the combined talent and resources of the local tech community to create solutions to national problems that will be open sourced and jointly owned by all participants for national good.
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="sect" id="projects">
		<div class="title">PROJECTS &amp; EVENTS</div>
		<div class="row">
			<div class="col-xs-4 event">
				<div class="event-logo"></div>
				<div class="event-title">Developers' Conference</div>
				<div class="event-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, voluptates!
					<div class="small">
						<a href="#" class="read-more">Read more...</a>
					</div>
				</div>
			</div>
			<div class="col-xs-4 event">
				<div class="event-logo"></div>
				<div class="event-title">Hackathon</div>
				<div class="event-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, repudiandae.
					<div class="small">
						<a href="#" class="read-more">Read more...</a>
					</div>
				</div>
			</div>
			<div class="col-xs-4 event">
				<div class="event-logo"></div>
				<div class="event-title">CodeCamp</div>
				<div class="event-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, non.
					<div class="small">
						<a href="#" class="read-more">Read more...</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="sect" id="partners" >
		<div class="title">PARTNERS &amp; SPONSORS</div>
		<div class="row">
			<div class="col-xs-3">MEST</div>
			<div class="col-xs-3">SMSGh</div>
			<div class="col-xs-3">Blogging Ghana</div>
			<div class="col-xs-3">Techy Africa</div>
		</div>
	</div>
	<div class="sect" id="contact">
		<div class="col-xs-6">
			<div class="title">CONTACT</div>
			<dl class="dl-horizontal">
				<dt>twitter</dt>
				<dd>@DevCongress</dd>
				<dt>G+</dt>
				<dd>gplus.to/devcongress</dd>
				<dt>facebook</dt>
				<dd>/DevCongress</dd>
				<dt>YouTube</dt>
				<dd>/DevCongress</dd>
				<dt>GMail</dt>
				<dd>devcongress@gmail.com</dd>
			</dl>
		</div>
		<div class="col-xs-6">
			<div class="title">TEAM</div>
			<div class="founders">
				<dl class="dl-horizontal">
					<dt>icon</dt>
					<dd>
						<p>Yaw Boakye (@22bytes)</p>
						<span>Lorem ipsum dolor sit amet.</span>
					</dd>
					<dt>icon</dt>
					<dd>
						<p>Yaw Boakye (@22bytes)</p>
						<span>Lorem ipsum dolor sit amet.</span>
					</dd>
					<dt>icon</dt>
					<dd>
						<p>Yaw Boakye (@22bytes)</p>
						<span>Lorem ipsum dolor sit amet.</span>
					</dd>
				</dl>
			</div>
		</div>
	</div>
</div>