<div style="line-height: 2em; font-size: 20px">
			<h2>Requirements for the Presentation</h2>
			<p>In order to ensure some uniformity among the speakers at the event, we recommend that the following presentation guides be followed.</p>
			<ul>
				<li>All presentation slides should be either HTML-based or a Google Drive Presentation document. This is important!</li>
				<li>In case you have code that your listeners should follow through, please save it as a public gist. There should be no code in the slides! <br>Code should only be shown in a text editor (e.g. Sublime Text)</li>
				<li>Create a requirements gist on Github for:
					<ul>
						<li>applications listeners should have on their machines. Downloadable links are awesome, others just tell us and we'd make them available.</li>
						<li>services your listeners should sign up for.</li>
						<li>any other thing you need either for yourself or for the listeners.</li>
					</ul>
				</li>
			</ul>

		See you there !!!!
</div>