<div class="content">

	<div class="">
		<p class="thankyou">Thank you</p>
		<p>We are indeed grateful for your efforts in bringing DevCongress 2013 a tremendous success.</p>
		<p>Your contribution in the form of attendance, speaking, cash support, and sponsorship couldn't have come at a better time. We look forward to receiving greater support from you as we forge ahead in our dream of developing Ghana's software developers.</p0>
		<p>It has been great working with you. You are our hero, and we celebrate you today. Thank you.</p>
		<p>from <%= link_to 'DevCongress', root_path %></p>
	</div>

	<!-- <div class="locale lato">
		<p>Watch this space for the next DevCongress event or <a href="https://twitter.com/DevCongress" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @DevCongress</a>
		</p>
	</div> -->

<!-- 	<section class="form-last">
	    <div class="hi-icon-wrap">
        	<%= link_to register_path, class: 'button button-flat pink' do %>
        		<i class="hi-icon icon-edit icon-4"></i>
        		<br>
        		<span class="fauna f17">Attend</span>
        	<% end %>
	        <a class="space"></a>
        	<%= link_to agenda_path, class: 'button button-flat blue' do %>
        		<i class="hi-icon icon-list-ol icon-4"></i>
        		<br>
        		<span class="fauna f17">Agenda</span>
        	<% end %>
	    </div>
	</section>
 -->
</div>