<div class="container">

	<div class="headline">
		<span><%= link_to image_tag('devcongress.png'), root_path , :class => 'some class' %></span>
		<span> says </span>
		<span>thank you</span>
		<span>&amp; we wish you a</span>
		<span>Merry Christmas!</span>
	</div>

	<!-- <div class="intro">to the heroes who made this year possible</div> -->

</div>