<div class="container">
	<p>No titles under consideration now but we're still open to new titles.</p>
	<p><%= link_to 'Submit your interesting title for consideration', submit_title_path %></p>	
</div>