<div class="container">
	<h3 class="lato">All titles have been submitted now. Stay in touch for updates on our next conference.</h3>
	<p><%= link_to 'Follow us on Twitter for the latest updates', "http://twitter.com/DevCongress." %></p>	
</div>