<footer class="footer">
	<div class="container row">
		<div class="span3"><h3 class="footext">Platinum Sponsor:</h3></div>
		<div class="span2"><%= link_to image_tag("mest.png"), "http://meltwater.org" %></div>
		<div class="span3"><h3 class="footext">Supported by:</h3></div>
		<div class="span2 fooimg"><%= link_to image_tag("bloggingghana.png"), "https://www.facebook.com/BloggingGhana" %></div>
		<div class="span2"><%= link_to image_tag("techyafrica.png"), "http://techy-africa.com", class: 'techy-africa' %></div>
	</div>
</footer>