<div class="footer full">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="sub">
					<p>DevCongress</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="sub">
					<p>SOCIAL</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="sub">
					<p>SITE MAP</p>
				</div>
			</div>
		</div>
	</div>
</div>