<div class="footer full">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="sub">DevCongress</div>
			</div>
			<div class="col-md-4">
				<div class="sub">SOCIAL</div>
			</div>
			<div class="col-md-4">
				<div class="sub">SITE MAP</div>
			</div>
		</div>
	</div>
</div>